body {
    font-family: "Montserrat";
}

.left-div, right-div {
    width: 45%;
}

ol {
    list-style-position: inside;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
}

ul {
    list-style-position: inside;
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
}

.last-div {
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
    float: right; 
}

h1 {
    text-align: center;
}

h3{
    font-weight: 500;
}

li {
    font-weight: 300;
}

a:link {
    color: #C952D8;
    text-decoration: none;
}
        
a:visited {
  color: purple;
}

a:hover {
  color: #87FF65;
  text-decoration: underline;
}